<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Thank You!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <style>
            .vertical-center {
                min-height: 100%;
                min-height: 100vh;
                display: flex;
                align-items: center;
            }
        </style>
    </head>

    <body class="vertical-center">
        <div class="container text-center">
            <h2>Your application has been submitted successfully!</h2>
            <br>
            <p>You will receive an email with further instructions. If you don't receive it in your <br>
                inbox/promotions/social/spam folder within next 15 minutes, send an email to <br> <a
                    href="mailto:connect@skillsafari.in">connect@skillsafari.in</a> for instructions
            </p>

            <a href="https://www.skillsafari.in/courses/frontEndDeveloper" style="background-color: #f81271;" class="btn text-white">Go to Home</a>


        </div>
    </body>

</html>